<div class="container">
    <div class="row">
        {{>card randomBeer}}
        <h5 class="card-title"> Food Pairing </h5>
      <li>{{randomBeer.food_pairing}}</li>
      <h5 class="card-title">Brewers Tips:</h5>
      <p class="card-text">{{randomBeer.brewers_tips}} </p>
    </div>
</div>